{% extends 'monApp/base.html' %}
{% block contenu %}
        <h1>Hello mes statuts !</h1>
        <p>
            Mes statuts sont :
            {% for s in status %}
            {{ s.libelle | upper }},
            {% endfor %}
        </p>
        <p>
            J'ai
            {% if status|length < 5 %}
            peu de
            {% elif status|length < 10 %}
            quelques
            {% else %}
            beaucoup de
            {% endif %}
            statuts préférés.
        </p>
{% endblock %}