{% extends 'monApp/base.html' %}
{% block contenu %}
        <h1>Hello mes rayons !</h1>
        <p>
            Mes rayons sont :
            {% for r in rayons %}
            {{ r.nomRayon | upper }},
            {% endfor %}
        </p>
        <p>
            J'ai
            {% if rayons|length < 5 %}
            peu de
            {% elif rayons|length < 10 %}
            quelques
            {% else %}
            beaucoup de
            {% endif %}
            rayons préférés.
        </p>
{% endblock %}