{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
    <a href="{% url 'crt_statut' %}">Créer un nouveau statut</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for s in status %}
                <tr>
                    <td><a href="{% url 'dlt_statut' s.idStatut %}">{{ s.idStatut }}</a></td>
                    <td>{{ s.libelle }}</td>
                    <td><a href="{% url 'upd_statut' s.idStatut %}">modifier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        J'ai
        {% if status|length < 5 %}
            peu de
        {% elif status|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
        statuts préférés.
    </p>
{% endblock %}
