{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
    <a href="{% url 'crt_cat' %}">Créer une nouvelle catégorie</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom catégorie</th>
                <th>Nb Produits</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in cats %}
                <tr>
                    <td><a href="{% url 'dtl_cat' cat.idCat %}">{{ cat.idCat }}</a></td>
                    <td>{{ cat.nomCat }}</td>
                    <td>{{ cat.nb_produits }}</td>
                    <td><a href="{% url 'upd_cat' cat.idCat %}">modifier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        J'ai
        {% if cats|length < 5 %}
            peu de
        {% elif cats|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
        catégories préférées.
    </p>
{% endblock %}
