{% extends 'monApp/base.html' %}
{% block contenu %}
    <h1>Hello mes catégories !</h1>
        <p>
            Mes catégories sont :
            {% for cat in cats %}
            {{ cat.nomCat | upper }},
            {% endfor %}
        </p>
        <p>
            J'ai
            {% if cats|length < 5 %}
            peu de
            {% elif cats|length < 10 %}
            quelques
            {% else %}
            beaucoup de
            {% endif %}
            catégories préférées.
        </p>
{% endblock %}